.search {
  // margin-bottom: 30px;
  padding: 10px 20px;
  background-color: #2c3e50;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 2px 5px #999;
}
.search__input {
  display: flex;
  align-items: center;
  color: #e74c3c;
  font-family: "DM Mono", monospace;
}

.search__time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 12px;
}

.search__time span {
  font-size: 15px;
  color: #e74c3c;
}
.search__input input {
  align-self: flex-end;
  transition: 0.3s ease all;
  background-color: transparent;
  border: 1px solid #e74c3c;
  color: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
}

.search__input input::placeholder {
  color: rgba(255, 255, 255, 0.8);
  font-family: "Open Sans", sans-serif;
}
.search__input input::-webkit-search-cancel-button {
  color: #e74c3c;
}

.show {
  width: 100%;
  opacity: 1;
  margin-right: 10px;
  padding-left: 10px;
}
.hide {
  width: 0;
  opacity: 0;
}
